<html>
  <head>
    <title>Ansible php test {{mail_server}} </title>
  </head>
  <body>


<?php
print "Задание №2. Ansible<br>
Используя инструмент автоматизации Ansible, развернуть на удаленных серверах web-приложение.<br>
Архитектура приложения: Web-сервер Nginx<br>
Backend в виде PHP/Python скрипта доступного через браузер, который при обращении к нему отправляет на указаный почтовый ящик адрес клиента и запрос к серверу<br>
MailHog в качестве заглушки для почтового сервера (Docker-контейнер) <i>{{mail_server}}</i><br>
<br>

Важные моменты:<br>
предусмотреть возможность разворачивания нескольких environment: live,staging, etc., для каждого из которых можно задать свои настройки почтового сервера, адреса для отправки, и т.д.<br>
предусмотреть возможность задавать режим работы MailHog: включить/выключить (например на Live он вообще не должен быть установлен)<br>
каждый елемент системы может находится как на одном сервере, так и на разных
<br>
Результат работы:<br>
Инструкция по использованию и разворачиванию системы<br>
Ansible playbook<br>
<br>
скрипты для backend";

?>


  </body>

</html>